line-profiler
psutil
memory_profiler

requests
pyopenssl
ndg-httpsclient
pyasn1


xlsxwriter
Pillow
html5lib
PyPDF2
reportlab
html2pdf
gunicorn
uwsgi
beautifulsoup4
xhtml2pdf
pyserial
argparse
click

pyenchant
pytesseract
cython
celery

psycopg2
SQLAlchemy

numpy
nltk
textblob
Pillow
scipy
matplotlib
pandas
gensim
sympy
scikit-learn
scikit-image
statsmodels
astropy
skyfield

ipython[all]
jupyter_contrib_nbextensions

boto
aiohttp
cchardet
aiodns
uvloop
ujson

python-nmap
pyowm
py-cpuinfo
distro
xmltodict
netdisco
aiohttp_cors
homeassistant