psycopg2
xhtml2pdf
click
requests
beautifulsoup4
gunicorn
uwsgi

numpy
nltk
textblob
gensim
Pillow
cython
scipy
matplotlib
pandas
sympy
scikit-learn
scikit-image
pyenchant

aiohttp
cchardet
aiodns
uvloop
ujson

distro
xmltodict
netdisco
aiohttp_cors
SQLAlchemy
homeassistant